assignment1/UZ_utils.py
assignment1/__pycache__/
assignment1/images/
assignment1/instructions.pdf

assignment3/UZ_utils.py
assignment3/__pycache__/
assignment3/a3_utils.py
assignment3/images/
assignment3/instructions.pdf

assignment4/data/my_video.mp4
assignment4/data/result.mp4
