assignment1/UZ_utils.py
assignment1/__pycache__/
assignment1/images/
assignment1/instructions.pdf

assignment2/__pycache__
assignment2/a2_utils.py
assignment2/dataset/
assignment2/images/
assignment2/instructions.pdf
assignment2/kernel.txt
assignment2/signal.txt

assignment3/UZ_utils.py
assignment3/__pycache__/
assignment3/a3_utils.py
assignment3/images/
assignment3/instructions.pdf
